
// Colors
primary-blue = #3F7EA3
dark-grey = #393E41
background-grey = #f6f6f6
accent-grey = #f1f2f2
light-grey = #6a777e
input-blue = #3ba6ef
error-red = #ff5151
validate-yellow = #ffc714

// Times
default-timing = 1s
slower-timing = 1s
quick-timing = 1s
short-delay = 1s
long-delay = 1s


// Breakpoints
desktop = 1024px
tablet-landscape = 1023px
tablet = 768px
mobile-landscape = 580px
mobile = 500px
popupwidth = 10px

// Dimensions
max-w = 700px
tile-width = 240px
tile-height = 200px
progress-bar-margin = 0 auto -80px auto
input-height = 62px
form-input-padding = 24px

// Other
primary-box-shadow = 0 4px 20px 0 rgba(106, 119, 126, 0.1)
input-box-shadow-size = 4px 20px 35px 0
input-box-shadow = input-box-shadow-size rgba(21, 145, 252, 0.16)

//Font
OpenSans = 'Open Sans'

// Icons
icomoon-font-path ?= "fonts"

icon-Info-Active-path1 = "\e916"
icon-Info-Active-path2 = "\e917"
icon-security-question = "\e918"
icon-email-passcode = "\e919"
icon-phone = "\e90b"
icon-passcode-phone = "\e90c"
icon-email = "\e90e"
icon-sheild = "\e910"
icon-trophy = "\e911"
icon-eye = "\e912"
icon-let-convert-circle-path1 = "\e907"
icon-let-convert-circle-path2 = "\e908"
icon-let-convert-circle-path3 = "\e909"
icon-enroll-yes = "\e90a"
icon-right-arrow = "\e915"
icon-check = "\e902"
icon-android-arrow-forward = "\e901"
icon-android-checkmark-circle = "\e904"
icon-arrow-down-b = "\e90d"
icon-eQuipt-Logo = "\e90f"
icon-Info-Default = "\e905"
icon-Login-btn-loader = "\e906"
icon-Profile-No_2 = "\e900"
icon-Carrot-Up = "\e903"






// Other libs
@require '~src/styles/mixins/center-align.styl'
@require '~src/styles/mixins/typography.styl'
@require '~bukwild-stylus-library';
