//Header
.main
	@media (max-width mobile)
		padding 0 5%
header
	height rem(100px)
	text-align center
	position relative
	&.background-white
		background white
		box-shadow: 0 -5px 20px 0 rgba(77, 77, 96, 0.15);
	.equipt-logo
	.spf-logo
		max-width rem(100px)
		top 50%
		position absolute
	.spf-logo
		left 5%
		transform translateY(-50%)
	.equipt-logo
		left 50%
		transform translate(-50%,-50%)




//Headline
.header-content
	.headline
		font extra-bold, 40px, dark-grey
		padding 12px 0
		text-align center
		margin 0
		line 48px, primary-blue, bottom, 4px

	.sub-headline
		font regular, 20px, dark-grey
		padding-top 29px
		margin 0 auto
		text-align center
	//Override's headline style for loading page
	.span
		font-size 28px
		padding-top 20px


	&.hidden
		display none



//Footer
footer
	text-align center
	margin 36px auto
	padding 0 5%
	p
	a
		font regular, 12px,
