extends ../layouts/default.pug
//- 
block headline
	- var headline = "Enroll";
	- var subheadline = "Do you have an account for spfview.com?";
block progress

block content
	block form
		//- .form--tiles - use when form needs radio buttons or tiles instead of inpits.
		//-.roll-over - to have roll-over effect and background color.
		form.form--tiles#enroll.roll-over()
			.form-wrapper
				.form-field-radio
					//-option for yes
					input.radio-button#yes(
						type="radio"
						name="radio")
					.radio-tile
						.center-wrapper
							.tile-icon.icon-enroll-yes
							label.radio-tile-label(for='yes') Yes
					//-option for no
				.form-field-radio
					input.radio-button#no(
						type="radio"
						name="radio")
					.radio-tile
						.center-wrapper
							.tile-icon.icon-Profile-No_2
							label.radio-tile-label(for='no') No

				//-popup
				.cta.more-info-tool-tip
					more-info(label='Need Help' placement='bottom') spfview.com is a portal for accessing your investments online. If you have used spfview.com to view your investments, choose "Yes". If you have not used spfview.com, please choose "No". <br><br>Still not sure? Please contact your advisor for clarifcation.

			
			button.btn.btn--primary.no-top(type='submit') Continue
			
