extends ../layouts/default.pug
//- 
block headline
	- var headline = "Forgot Password";
	- var subheadline = "We've sent a 6-digit passcode to <b>johnsmith@gmail.com</b>";

//- Pass in a unix timestamp in seconds
block progress
	countdown(:expires='(new Date(Date.now() + 15*60*1000)).getTime()/1000')

block content
	block form
		form.form--passcode()
			label Enter Passcode
			
			//- The digits
			passcode(:digits='6')
				input(type='hidden' name='passcode')
			
			button.btn.btn--primary(type='') Submit
			
