extends ../layouts/default.pug

block content
	ul.index
		li: a(href="/login.html") Login
		li: a(href='/enroll.html') Enroll
		li: a(href='/create-account.html') Create Account
		li: a(href='/convert.html') Convert
		li: a(href='/something-different.html') Something Different
		li: a(href='/register.html') Register
		li: a(href='/forgot-password.html') Forgot password
		li: a(href='/forgot-password-passcode.html') Forgot password Passcode
		li: a(href='/security-setup.html') Security Setup
		li: a(href='/security-questions.html') Secuirty Questions
		li: a(href='/loading-page.html') Loading Page
		li: a(href='/loading-page-congrats.html') Loading Page 2
		li: a(href='/spfview-login-API.html') SPFview Login API
		li: a(href='/create-account-whoops.html') Create Account Whoops
