block footer
	footer
		p &copy; SagePoint Financial  |  Securities and investment advisory services are offered through SagePoint Financial, Inc. Broker-Dealer, Registered Investment Advisor and members of FINRA and SIPC.
		a Privacy Policy 
		a | Terms of Use
